<h1 class="page-header">Demo</h1>

<div class="panel-group" id="codeAccordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#codeAccordion" data-target="#collapseCode" href="">Controller code</a>
			</h4>
		</div>
		<div id="collapseCode" class="panel-collapse collapse">
			<div hljs language="javascript" include="'scripts/controllers/demo.js'"></div>
		</div>
		
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#codeAccordion" data-target="#collapseTemplate" href="">Template code</a>
			</h4>
		</div>
		<div id="collapseTemplate" class="panel-collapse collapse">		
			<div hljs language="html" include="'views/demo.html'"></div>
		</div>		
	</div>
</div>

<google-map class="demo" center="map.center" zoom="map.zoom" draggable="true">

	<!-- our markers -->
	<markers models="map.markers" coords="'coords'" fit="true" doCluster="true"></marker>
	
	<!-- our polylines -->
	<polyline ng-repeat="p in map.polylines track by p.id" path="p.path" draggable="p.draggable" 
		clickable="p.clickable"
		geodesic="p.geodesic"
		editable="p.editable"></polyline>
		
	<!-- our polygons -->
	<polygon ng-repeat="p in map.polygons track by p.id" path="p.path" draggable="p.draggable" 
		fill="p.fill"
		clickable="p.clickable"
		geodesic="p.geodesic"
		editable="p.editable"></polygon>

</google-map>

<div class="row" id="demo-panels">

	<div class="col-md-6">
		<div class="panel-group" id="accordionMap">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionMap" href="#collapseMap">Map</a>
					</h4>		
				</div>								
				<div id="collapseMap" class="panel-collapse collapse in">
					<table class="table">
						<thead>
							<tr>
								<th>Property</th>
								<th>Value</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>center</td>
								<td><code>{{ map.center | json  }}</code></td>
							</tr>
							<tr>
								<td>zoom</td>
								<td><code>{{ map.zoom | json }}</code></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="panel-group" id="accordioPolylines">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapsePolylines">Polylines</a>
						<span ng-click="addPolyline()" class="glyphicon glyphicon-plus pull-right"></span>
					</h4>		
				</div>								
				<div id="collapsePolylines" class="panel-collapse collapse in">
					<table class="table">
						<thead>
							<tr>
								<th>Coordinates</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="p in map.polylines track by p.id">
								<td>
									<div ng-repeat="point in p.path">
										<code >{{ point | json }}</code>
									</div>
								</td>
								<td>
									<span class="glyphicon glyphicon-remove" ng-click="removePolyline(p)"></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-md-6">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseMarkers">Markers</a>
						<span ng-click="addMarker()" class="glyphicon glyphicon-plus pull-right"></span>
					</h4>		
				</div>								
				<div id="collapseMarkers" class="panel-collapse collapse in">
					<table class="table">
						<thead>
							<tr>
								<th>Coordinates</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="m in map.markers track by m.id">
								<td><code>{{ m.coords | json }}</code></td>
								<td>
									<span class="glyphicon glyphicon-remove" ng-click="removeMarker(m)"></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="panel-group" id="accordioPolygons">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapsePolygons">Polygons</a>
						<span ng-click="addPolygon()" class="glyphicon glyphicon-plus pull-right"></span>
					</h4>		
				</div>								
				<div id="collapsePolygons" class="panel-collapse collapse in">
					<table class="table">
						<thead>
							<tr>
								<th>Coordinates</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="p in map.polygons track by p.id">
								<td>
									<div ng-repeat="point in p.path">
										<code >{{ point | json }}</code>
									</div>
								</td>
								<td>
									<span class="glyphicon glyphicon-remove" ng-click="removePolygon(p)"></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

